
@media (min-width: 1280px) {
    .mobile__nav{display: none;}
    
}
@media (max-width: 1280px) {
    .mobile__nav{display: none;}
    /*探索*/
    .survey{margin: 15% 10% 111px; width: 50%;}
    .planet{padding-top: 40px;}
    .FirstHeading{font-size: 4rem;}
    
}

@media (max-width: 1024px) {
    .mobile__nav{display: none;}
    .nav__logo{ width: 10rem; margin-top: 5%; margin-left: 5vh;  z-index: 5;}
    ul, li{font-size: 0.6rem;}
    /* One Page */
    .mascot_section{height: 45vh;}
    .doodle_section{height: 100vh;}
}

@media (max-width: 769px) {
    body{overflow-x: hidden;}
    .show{display: block;}
    .mobile__nav{display: block;}
    .hamburger{display: none;}
    .closeNav {display: none;}

    .nav__logo{
        width: 40%;
        margin-left: 20px;
        margin-top:3.5vh;
        
    }

    #ellipse{
        height: 50px;
        width: 80px;
        background-color:brown; 
        border-radius: 100%; 
        overflow: hidden;
    }
    #mascot_1{
        height: 80px; 
        transform: translate(-35%, 15%); 
    }
    .dialogueMain {
        font-size: 2vw;
        margin: -2% 0%;
    
    }

    #mascot_bubble{
        height: 100%;
        width: 90%;
    }
    .mascotSpeech {
        position: relative;
        margin-top: 3%;
    }
    
    .mascotSpeech__div {
        left: 30px;
        width: 80vw;
    }

    #guideMainBTN {
        font-size: 3vw;
        margin: 2% 0 2% 4%;
        padding: 6px;
    }

    .hamburger-mobile {
        background-color:transparent;
        border:0px;
        outline:0px;
        width:10%;
       
        position:absolute;
        top:4vh;
        right:5%;
        cursor:pointer;
        z-index:9;
        
    }
    
    
    
    .burger-mobile {
    background-color:#FFF;
    border-radius:5px;
    height: 2.5px;
    margin-bottom: 5px;
 
    display:flex;
    
    }
    .mobile__nav+.webgl{ pointer-events: none;}
    .navContainer_mobile{background-color: #FFF; z-index: 99; position: relative; margin-top: 25px;}
    .navContainer_mobile ul{padding: 0;}
    .navContainer_mobile li{font-size: 1rem}
    .navContainer_mobile li:hover{ background-color: #D4AA29;}
    .base__container-mobile{background-color: #d4a9298c;}
    .galaxy__container-mobile{background-color: #d4a9298c;}



    .planet{width: 90%; margin: 30px 20px;}
    .introduction-planet{width: 90%; float: left; padding: 0px 20px ;}
    .description{color:#ffffff; font-family:'Noto Sans TC', sans-serif;
                font-size: 12px; width: 90%;}
    .FirstHeading{color:#ffffff; font-family:'Noto Sans TC', sans-serif; font-size: 35px; font-weight: bold;
                  margin-bottom: 25px;}
    .intro-next{width: 15%; float: right;}
    .speech-line-fourth p{top: 0vh;}
    .buttons{margin: 0 10px; margin-top: 150%;}
    .buttons img{height: 10%;}
    .single-item{width: 90%; margin: 60px 20px 30px;}
    .elderly-introduction{width: 100%; text-align: center; margin: 0 20px 40px; font-size: 0.8rem;}
    .elderly-tag {margin: 20px 20px;}
    .elderly-introduction img{width: 80%;}


    /*One-Page*/
    .mascot_section{height: 30vh; }
    .speech-line{top: 2vh;}
    .doodle_section{height: 60vh;}
    .doodle_section2{height: 40vh;}
    .youtube-link{margin: 20px; text-align: center;}


    footer{display: none;}
    .footer_mobile{display: block;}
    .footer__content{padding: 20px;}
    .footer__logo{width: 60%;}
    .footer__right{width:100%; float: left;}

    /* branding */
    .brand{margin: 0;}
    .brand__logo{width: 80%;}
    .brand__description {
        width: 80%;
        padding-left: 25px;
        font-family: 'Noto Sans TC', sans-serif;
        color: white;
        margin-bottom: 99px;
        line-height: 2em;
    }

}