body {
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient( rgba(118, 22, 27, 0.8) 0%, rgba(0, 46, 50, 0.7) 60%);
    background-repeat: no-repeat;
    
}
.webgl{
    top: 0;
    left: 0;
    width: 100%;
    outline: none;
    position: fixed;
    z-index: 2;
    text-align: center;
 
}

.webgl-div{
    height: 100vh;
    margin: 0;
    padding: 0;
    opacity: 0;
    overflow: hidden;
}

.clearfix::after {clear: both; content: ''; display: block;}

/* intro */
#introBackground{ 
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 30%;
    
}

#sparkleStar-img{
    z-index: -2; 
    width: 100%; 
    position: fixed; 
    top: 0; 
    opacity: 0.7; 
    animation: Sparkling 4s infinite;
}

.entry{position: absolute; display: flex; top: 30%; left: 15%;}
.entry span{ color: #ffffff; font-family: 'Noto Sans TC', sans-serif; align-items: center; padding-left: 230px;}
.entry__btn :nth-child(0){padding-left: 0;}
#introDialogue{
    margin-top: 20%;
    font-weight: 400;
    color: #ffffff;
    font-family: 'Noto Sans TC', sans-serif;
    text-align: center;
    max-width: 100%;
    animation: fadeIn 2s;
}

.startPage{
    width:100%;
    height:2000px; 
    overflow: hidden;
}

#startPage__btn{ 
    background-color:#DEAD25;
    border-radius:50%;
    display:inline-block;
    cursor:pointer;
    color:rgb(255, 255, 255);
    font-family:'Noto Sans TC', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration:none;
    animation: fadeIn 3s;
    text-align: center;
    margin: 10px 48%;
    padding: 20px 21px;
}
/* nav */
.nav-div{
    display: flex; 
    width: 100%;
}

.nav__logo{
    width: 10rem;
    margin-top: 3%;
    margin-left: 100px; 
    z-index: 5;
}

ul, li{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 20px;
    font-weight: 550;
    z-index: 2;
    text-align: center;
    
}

.galaxy__container {
    display: none;
    background-color: #FFF;
    position: absolute;
    left: 30%;
    top: 165%;
    padding-left: 0;
    display: block;
    z-index: 1;
    
}
.galaxy__container a {
	letter-spacing: 0 !important;
    padding: 0 !important;
}

.galaxy__container a:hover {
	background-color: #DEAD25!important;
	border-radius: 0 !important;
}

.explore__container{
    background-color: #FFF;
    position: absolute;
    left: 10%;
    top: 60%;
    padding-left: 0;
    display: block;
    z-index: 1;
}



.galaxy__container ul,li,a{
    text-decoration: none;
    list-style: none;
    text-align: center;
    padding: 8px;
    margin: 0;
}

#galaxy a:hover .galaxy__container {display: none;}


.navContainer{
    padding: 0;
    top: 0;
    right: 20%;
    left: 20%;
    margin: 50px;
    border-radius: 90px;
    position: absolute;
    background: rgba(255, 255, 255);
    filter:drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.299));
    justify-content: center;
    align-items: center;
    z-index: 9;
   
} 
.navLinks{

    list-style: none;
    z-index: 2;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height: 5vh;
    text-decoration: none;
    padding: 0;
    position: relative;
    
    
}


.navLinks li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #3b2511;
    letter-spacing: 20px;
    box-sizing: border-box;
    padding: 10px 0px 10px 20px;
    border-radius: 10px;
    

}


.navLinks li a:hover{
    cursor: pointer;
    background-color: #DEAD25;
    color: white;
   
}



.NAV button{
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    z-index: 9;
}



.hamburger {
    background-color:transparent;
    border:0px;
    outline:0px;
    width:50px;
    height:50px;
    position:absolute;
    top:10.5%;
    right:9%;
    cursor:pointer;
    z-index:9;
    
}



.burger {
background-color:#FFF;
border-radius:5px;
height: 5px;
margin-bottom: 5px;
width: 35px;
display:flex;

}
 
.closeNav{
    background-color:transparent;
    border:0px;
    outline:0px;
    width:50px;
    height:50px;
    height:auto;
    position:absolute;
    top:12%;
    right:9%;
    cursor:pointer;
    z-index:10;
}

.burger1{
    background-color:#FFF;
    border-radius:5px;
    height: 5px;
    margin-top: 0%;
    position: absolute;
    width: 40px;
    rotate: 45deg;
    
}
.burger2{
    background-color:#FFF;
    border-radius:5px;
    height: 5px;
    position: center;
    width: 40px;
    rotate: -45deg;
}




/* Main.html*/
#startContainer{
    display: flex; 
    position: absolute; 
    bottom: 8%; 
    left: 5%; 
    z-index: 10;
}

#ellipse{
    width: 150px; 
    height: 150px; 
    background-color:brown; 
    border-radius: 50%; 
    overflow: hidden;
}

.mascotSpeech{
    position:relative; 
    margin: 4% 0% 2% 2%; 
    
}
.mascotSpeech__div{
    display: flex; 
    position: absolute;
    left: 80px; 
    margin-top: 5px;
    width: 50vw;
}

#mascot_1{
    height: 200px; 
    transform: translate(-25%, 20%); 
}

#mascot_bubble{
    height: 83%;

}


.dialogueMain {
 
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.25rem;
    line-height: 10px;
    font-weight: medium;
    color: #000000;
    text-align: left;
    opacity: 70%;
    z-index: 6;
    animation: fadeIn 5s;
   
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }




.mascotAni{
    animation: jumpOut 1s ease-out forwards;
}

@keyframes jumpOut {
    from{
        transform: translate(-30%, 40%)
    }
}



.mascot_bubbleFaded{
    animation: MainBubbleFaded 1s ease-in-out forwards;
}

@keyframes MainBubbleFaded {
    to{
        opacity: 0;
        
    }
}

#guideMainBTN{
   
    background-color:#DEAD25;
	border-radius:50%;
	display:inline-block;
	cursor:pointer;
	color:rgb(255, 255, 255);
	font-family:'Noto Sans TC', sans-serif;
	font-size: 1.25rem;
    font-weight: bold;
	text-decoration:none;
    animation: fadeIn 3s;
    text-align: center;
    margin-top: 12px;
    margin-left: 10px;
    margin-bottom: 12px;
    padding: 12px 13px;

    
}


#introDialogue:hover {
    animation: smoky 2s linear forwards;
}
.dialogueMain:hover{
        animation: smoky 2s linear forwards;
    }
@keyframes smoky {
    to {
        opacity: 0;
        filter: blur(40px);
        transform: translate(60px, -200px) rotate(25deg);
    }
  }

#navLOGO{
    cursor: pointer;
}


@keyframes Sparkling {
    0%{
        opacity: 0;
    }

    50%{
        opacity: 0.7;
    }

    100%{
        opacity: 0;
    }
}


.btn{

    width: 100px;
    height: 30px;
    background-color:#DE6A18;
	border-radius:42px;
    text-align: center;
	cursor:pointer;
	color:#ffffff;
	font-family:'Noto Sans TC', sans-serif;
	font-size:15px;
    font-weight: bold;
    letter-spacing: 3px;
	padding: 10px 10px 5px 10px;
	text-decoration:none;
    animation: fadeIn 3s;
    margin-top: 50px;

}




#logo{
    top: 45%;
    left: 600px;
    position: absolute;
    object-fit: scale-down;
    max-width: 100%;
    animation: fadeIn 3s;
  
     
}

#start {
    height: 800px;
     grid-row-start: 1;
    grid-column-start: 1;
    background:rgba(255, 255, 255, 0.679);
    background-blend-mode: multiply;
    background-size: cover;
    z-index: 3;
    background-position: center center;
    display: flex;
    
}

.hide{
    display: none;
}

.hover{
    cursor: pointer;
}

#startMain{
    height: 100%;
    position: absolute;
    background:rgba(255, 255, 255, 0.679);
    background-blend-mode: multiply;
    background-size: cover;
    z-index: 5;
    background-position: center center;
    width: 100%
}

.SparkleStar{
    width: auto;
    object-fit: cover; 
    z-index: -2;
    position: fixed; 
    top: 0; opacity: 0.4; 
    animation: Sparkling 4s infinite;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}


/* planet intro */



.planet{width: 50%; filter: drop-shadow(0 0 0.75rem crimson); margin-bottom: 0;}
.introduction-planet{width: 40%; float: right; padding-right: 4%; padding-top: 8%;}
.description{color:#ffffff; font-family:'Noto Sans TC', sans-serif;
            font-size: 1rem; }
.FirstHeading{color:#ffffff; font-family:'Noto Sans TC', sans-serif;
              font-size: 5rem; font-weight: bold;}
.intro-next{width: 15%; float: right;}



.slick-dots {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	padding: 1rem 0;
	
	list-style-type: none;
}
	
		.slick-dots li {
			margin: 0 0.01rem;
		}
	
		.slick-dots button {
			display: block;
			width: 0.5rem;
			height: 0.5rem;
			padding: 0;
			position: relative;
			border: none;
			border-radius: 100%;
			background-color: #fff;
			cursor: pointer;
			text-indent: -9999px;
		}
	
		li.slick-active button {
            
			background-color: #DEAD25;
		}
	


.slick-slide {
    height: auto; 
}



.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from{opacity: .4}
    to{opacity: 1}
}

.slideshow{
    width: 100%;
    height: 700px;
    background-color: #339599;
  
}




/* 塔台*/
#mascot_tower{width: 40%; position: absolute; left: -20px; bottom: -125px;}
.selection{margin: 10% 10% 10% 50%;}
.selection img{width: 70%;}
.selection p {color: white; font-family:'Noto Sans TC', sans-serif;}
.selection__first{display: flex; justify-content:space-evenly;}
.selection__second{display: flex; justify-content:space-evenly;}

.prev-arrow{background-color: transparent; border: none;float: left; z-index: 10; margin-right: 23vw;}
.next-arrow{background-color: transparent; border: none; float: right; z-index: 10; margin-left: 23vw;}
.btn-casual{position: absolute; display: flex; justify-content:space-evenly; top: 35%; left:-7%;}
.slider-container{position: relative; text-align: center; width: 45%; float: right; margin-top: 100px; padding-right: 123px;}
.content-introduction{margin: 123px 0px 123px 15%; padding-right: 92px; float: left; width: 20%;
                      color: #FFF; font-family:'Noto Sans TC', sans-serif;}

.slider-nav img{width: 100%;}
.content-introduction img,h1{margin-bottom: 78px;}
.content-introduction p{font-size: 16px;} 
.video{text-align: center;height: auto; margin-bottom: 123px;}

footer{background-color: #DEAD25; z-index: 100;}
.footer__content{padding: 35px 100px 40px; color: #FFF; font-family:'Noto Sans TC', sans-serif; }
.footer__right{float: right; line-height: 25px; margin-top: 20px;}
.footer__left{float: left; line-height: 35px;}
.footer__logo{width: 100%}
/*探索*/
.explore__body{background: linear-gradient(-120deg,rgba(118, 22, 27) , rgba(0, 46, 50));}
.survey{margin: 15% 15% 111px; width: 45%;}
.survey h1{ color:#ffffff; font-family:'Noto Sans TC', sans-serif; font-size: 3rem; font-weight: bold;}
.survey__first{ display: inline-block;  color:rgb(255, 255, 255); font-family:'Noto Sans TC', sans-serif; line-height: 50px;}
.survey__first span{font-size: 1rem;}
.survey__first p{font-size: 1.25rem;}
.survey__second {display: block; float:right; font-size: 1rem; color:rgb(255, 255, 255); font-family:'Noto Sans TC', sans-serif;
                 margin-top: 90px;line-height: 50px;}
.survey__next{width: 5%; float: right; margin: -100px 100px 0px;}
.survey__mascot{width: 40%; position: absolute; right: 100px; top: -15px; z-index: -3;}

.explore__description{color:#ffffff; font-family:'Noto Sans TC', sans-serif; font-size: 1.25vw; margin: 72px 100px}
.carousel{background-color: #FFF; padding: 20px;}
.slider{margin-bottom: 55px;}
.slick-slide img {max-width: 100%; transition: transform 0.5s;}
.slick-slide.slick-center img{ transform: scale(1.2);}
.slide p{ color:#fff; font-family:'Noto Sans TC', sans-serif;font-weight: 100; text-align: center;}

input[type="checkbox" i] {
    border-radius: 100px;
}

.mascot2Ani{
    animation: Mascot2Run 3s ease-in-out forwards
    
}

@keyframes Mascot2Run {
    from{
        transform: translate(40%, -70%);
        opacity: 0;
    }
}

.mascot3Ani{
    animation: Mascot3Run 3.5s ease-in-out forwards;
}

@keyframes Mascot3Run {
    from{
        right: 10%;
        transform: translateY(300%);
        opacity: 0;
    }
}

.mascot4Ani{
    animation: Mascot4Run 2.5s ease-in-out forwards;
}

@keyframes Mascot4Run {
    from{
        right: -20%;
        opacity: 0;
    }
}

.The-Cautions{
    border-radius: 100%;
    position: absolute;
    filter: drop-shadow(0 0 0.40rem rgb(70, 70, 70));
    overflow: hidden;
}

.dialogue {
    
    z-index: 10;
    position: fixed;
    left: 30%;
    bottom: 2%;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}
.dialogue__img{width: 50%;}

#content {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1vw;
    line-height: 10px;
    font-weight: medium;
    color: #ffffff;
    text-align: left;
    position: absolute;
    top: 48%;
    left: 5%;
}
#content-second{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1vw;
    line-height: 10px;
    font-weight: medium;
    color: #ffffff;
    text-align: left;
    position: absolute;
    top: 60%;
    left: 5%;
}
.buttons{ width: 70%; margin:25% 0% 0% 10%;} 
.buttons img{
    position: absolute;
    z-index: 11;
    height: 15%;
   
}
.next{float: right;}

/* base */
.brand{margin: 123px; text-align: center;}
.brand__description{text-align: left; width: 40%; padding-left: 30%; font-family: 'Noto Sans TC', sans-serif; color: white; margin-bottom: 99px;
                    line-height: 2em;}
.brand__logo{margin: 72px 0px; width: 40%;}

.cooperative__logo{width: 100%;}
.cooperative{text-align: center;}
.img-container{display: inline-block; float: left; padding-left: 150px;}
.cooperative__section{margin: 123px;box-sizing: border-box;}
.cooperative__description{width: 45%; float: left; text-align: left; 
                          font-family: 'Noto Sans TC', sans-serif; color: white; padding-left: 137px; line-height: 190%;}
.cooperative__imglist{margin-bottom: 172px;}

/*頁面介紹*/
.single-item{margin: 123px; width: 50%; float: left;}
.elderly-introduction{width: 30%;  float: left; margin-top: 123px; font-family: 'Noto Sans TC', sans-serif; color: white; }
.elderly-tag{ margin: 60px 0; }
.elderly-introduction p {margin-top: 47px;}
.linchun-mascot{position: absolute; left: -7%; width: 70%;}
.speech-box-first{position: absolute; right: 8%; width: 60%;}
.speech-line {position: absolute; right: 4vw; top: 9vh; font-size: 1.7vw;  font-family: 'Noto Sans TC', sans-serif; color: white; }
.speech-line p{margin-block-end: 0;margin-block-start: 0.8em;}
.linchun_mascot_section{position: relative; height: 120vh;}
.doodle_section{position: relative;height: 120vh;} 
#linchunDoodle_1{position: absolute;  left: 5%; top:15vh; width: 28%;}
#linchunDoodle_2{position: absolute; right: 5%; top:15vh; width: 41%;}
#linchunDoodle_3{position: absolute; right: 35%; bottom: -3vh; width: 25%;}
.doodle{ font-size: 1.7vw;  font-family: 'Noto Sans TC', sans-serif; color: white;}
.speech-line-first{position: absolute; left: 15%; top: 0; z-index: 2;}
.speech-line-second{position: absolute; left: 30%; bottom: 7vh;}
.speech-line-third{position: absolute; right: 25%; bottom: 28vh;}
.speech-box-second{position: absolute; left: 15%; top:10%; width: 50%;}
#rose{position: absolute; right: 5%; width: 30%; bottom: 0vh;}
.speech-line-fourth{position: absolute; left: 4vw; top: 5vh; font-size: 1.7vw;  font-family: 'Noto Sans TC', sans-serif; color: white; }
.speech-line-fourth p{margin-block-end: 2em; margin-block-start: 2em;}
.youtube-link{margin: 123px; text-align: center;}
